.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hidden {
  display: none;
}
.wrap-text{
  white-space: pre-wrap;
}

.flex-text{
  flex: 1;
}

.flex-align-right{
  flex: 1;
  text-align: right;
}
